
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.idea/
.vscode/
resources/ksp_tester/uploads/*.nj
resources/ksp_tester/uploads/*.asm
resources/ksp_tester/uploads/*.njvm
resources/ninja_editor/asm_files/*
resources/ninja_editor/nj_files/*
resources/ksp_tester/ref_uploads/*
###< symfony/framework-bundle ###
